<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="global-packages-cache" value="C:\Users\Mobil\.nuget\packages" />
    <add key="vs-offline-packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages" />
    <add key="dotnet-library-packs" value="C:\Program Files\dotnet\library-packs" />
  </packageSources>
</configuration>
